<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pnpwebhooksdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pnpwebhooksdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pnpwebhooksdemo</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$pnpwebhooksdemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FeedbackTracker.Common.SQL.pnpwebhooksdemoEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FeedbackTracker.Common.SQL.pnpwebhooksdemoEntities, FeedbackTracker.Common" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FeedbackTracker.Common.SQL.SharePointWebHooks" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FeedbackTracker.Common.SQL.SharePointWebHooks, FeedbackTracker.Common" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FeedbackTracker.Common.SQL.pnpwebhooksdemoEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FeedbackTracker.Common.SQL.SharePointWebHooks-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FeedbackTracker.Common.SQL.pnpwebhooksdemoEntities" />
    <_ConnectionStringsToInsert Include="FeedbackTracker.Common.SQL.SharePointWebHooks" />
  </ItemGroup>
</Project>