<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pnpwebhooksdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pnpwebhooksdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pnpwebhooksdemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pnpwebhooksdemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="pnpwebhooksdemoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pnpwebhooksserver.database.windows.net,1433;Initial Catalog=pnpwebhooksdemo;User ID=WebHooksAdmin;Password=learning1!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:pnpwebhooksserver.database.windows.net,1433;Initial Catalog=pnpwebhooksdemo;User ID=WebHooksAdmin;Password=learning1!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:pnpwebhooksserver.database.windows.net,1433;Initial Catalog=pnpwebhooksdemo;User ID=WebHooksAdmin;Password=learning1!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\pnpwebhooksdemoEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SQL.DataModel.csdl|res://*/SQL.DataModel.ssdl|res://*/SQL.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:pnpwebhooksserver.database.windows.net,1433;initial catalog=pnpwebhooksdemo;user id=WebHooksAdmin;password=learning1!;multipleactiveresultsets=True;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="storageaccount" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=pnpwebhooksdemoacc;AccountKey=YT1IYvfBs3hNmGLZ83SP2b9VPnQ2xCxgNBnv8p/DwuGE0lagDqhovVEb7u2oaagBjON8fvV/q3Eb3NQ+Pn3Nlg==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\storageaccount_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=pnpwebhooksdemoacc;AccountKey=YT1IYvfBs3hNmGLZ83SP2b9VPnQ2xCxgNBnv8p/DwuGE0lagDqhovVEb7u2oaagBjON8fvV/q3Eb3NQ+Pn3Nlg==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsDashboard" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=pnpwebhooksdemoacc;AccountKey=YT1IYvfBs3hNmGLZ83SP2b9VPnQ2xCxgNBnv8p/DwuGE0lagDqhovVEb7u2oaagBjON8fvV/q3Eb3NQ+Pn3Nlg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=pnpwebhooksdemoacc;AccountKey=YT1IYvfBs3hNmGLZ83SP2b9VPnQ2xCxgNBnv8p/DwuGE0lagDqhovVEb7u2oaagBjON8fvV/q3Eb3NQ+Pn3Nlg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=pnpwebhooksdemoacc;AccountKey=YT1IYvfBs3hNmGLZ83SP2b9VPnQ2xCxgNBnv8p/DwuGE0lagDqhovVEb7u2oaagBjON8fvV/q3Eb3NQ+Pn3Nlg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=pnpwebhooksdemoacc;AccountKey=YT1IYvfBs3hNmGLZ83SP2b9VPnQ2xCxgNBnv8p/DwuGE0lagDqhovVEb7u2oaagBjON8fvV/q3Eb3NQ+Pn3Nlg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsDashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)pnpwebhooksdemoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SQL.DataModel.csdl|res://*/SQL.DataModel.ssdl|res://*/SQL.DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:pnpwebhooksserver.database.windows.net,1433;Initial Catalog=pnpwebhooksdemo;User ID=WebHooksAdmin;Password=learning1!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>513c3cb6-7cc3-46da-84ae-e8942bf0b2b1</DefaultValue>
      <Value>513c3cb6-7cc3-46da-84ae-e8942bf0b2b1</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>ear4yClAWIBIhAcUTe8ATajm+qfBAGtiI4V8oCe9R6M=</DefaultValue>
      <Value>ear4yClAWIBIhAcUTe8ATajm+qfBAGtiI4V8oCe9R6M=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>